.footer-links {
  background-color: white;
  padding: 75px 190px;

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__left-footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__header {
    text-transform: uppercase;
    font-family: AmstelvarAlpha;
    font-size: 28px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__img {
    width: 31px;
    height: 17px;
  }

  &__paragraph {
    color: rgba(30, 40, 50, 0.75);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
  }

  .footer-menu {
    display: flex;
    flex-direction: column;
    gap: 22px;
    list-style: none;

    &__header {
      font-family: Open Sans;
      font-size: 16px;
      font-weight: 600;
      text-transform: capitalize;
    }

    &__item {
      color: rgb(30, 40, 50);
      font-family: Open Sans;
      font-size: 14px;
      font-weight: 400;
      text-transform: capitalize;
      cursor: pointer;
    }
  }
}
